Source: ginac
Section: devel
Priority: optional
Maintainer: Richard Kreckel <kreckel@ginac.de>
Standards-Version: 3.1.1

Package: ginac
Architecture: any
Depends: ${shlibs:Depends}
Description: The GiNaC framework (runtime library)
 GiNaC stands for "GiNaC is Not a CAS (Computer Algebra System)".  It is an 
 open framework for symbolic computation within the C++ programming language.
 .
 See <http://www.ginac.de/> for detailed information.

Package: ginac-dev
Architecture: any
Depends: ginac, libc6-dev
Recommends: ginac-ginsh
Suggests: ginac-doc
Description: The GiNaC framework (development files)
 GiNaC stands for "GiNaC is Not a CAS (Computer Algebra System)".  It is an 
 open framework for symbolic computation within the C++ programming language.
 .
 This package provides header files and a static library.

Package: ginac-ginsh
Architecture: any
Depends: ginac, libc6-dev
Description: The GiNaC framework's interactive shell
 GiNaC stands for "GiNaC is Not a CAS (Computer Algebra System)".  It is an 
 open framework for symbolic computation within the C++ programming language.
 .
 The ginsh (GiNaC interactive shell) provides a simple and easy to use 
 CAS-like interface for GiNaC's classes.

Package: ginac-doc
Architecture: any
Depends: ginac, libc6-dev
Description: The GiNaC framework (documentation files)
 GiNaC stands for "GiNaC is Not a CAS (Computer Algebra System)".  It is an 
 open framework for symbolic computation within the C++ programming language.
 .
 This package contains the complete documentation including a  tutorial and a
 browsable reference.