Source: ginac
Section: math
Priority: optional
Maintainer: Richard Kreckel <kreckel@ginac.de>
Build-Depends: cdbs (>= 0.4.28), debhelper (>= 4.0.0), libcln-dev, libgmp3-dev, libreadline5-dev, flex, bison
Standards-Version: 3.6.2

Package: libginac1.4
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Suggests: ginac-tools
Description: The GiNaC framework (runtime library)
 GiNaC (which stands for "GiNaC is Not a CAS (Computer Algebra System)") is a
 library for doing symbolic (i.e. non-numeric) computation directly in the C++
 programming language.
 .
 This package provides the runtime library.  See <http://www.ginac.de/> for
 detailed information about GiNaC.

Package: libginac-dev
Architecture: any
Section: libdevel
Depends: libginac1.4 (= ${Source-Version}), libc6-dev, g++, libcln-dev
Recommends: info | info-browser, libginac1.4-dbg (= ${Source-Version})
Suggests: ginac-tools
Description: The GiNaC framework (development files)
 GiNaC (which stands for "GiNaC is Not a CAS (Computer Algebra System)") is a
 library for doing symbolic (i.e. non-numeric) computation directly in the C++
 programming language.
 .
 This package provides header files, a static library plus a tutorial as info
 file.  See <http://www.ginac.de/> for detailed information about GiNaC.

Package: ginac-tools
Architecture: any
Section: math
Depends: ${shlibs:Depends}
Recommends: doc-base
Description: Some tools for the GiNaC framework
 GiNaC (which stands for "GiNaC is Not a CAS (Computer Algebra System)") is a
 library for doing symbolic (i.e. non-numeric) computation directly in the C++
 programming language.
 .
 This package provides some additional tools, like the popular ginsh (GiNaC
 interactive shell) and viewgar (for inspecting GiNaC archive files).  See
 <http://www.ginac.de/> for detailed information about GiNaC.

Package: libginac1.4-dbg
Architecture: any
Section: libdevel
Depends: libginac1.4 (= ${Source-Version})
Recommends: gdb (>= 6.3)
Description: The GiNaC framework (debugging symbols)
 GiNaC (which stands for "GiNaC is Not a CAS (Computer Algebra System)") is a
 library for doing symbolic (i.e. non-numeric) computation directly in the C++
 programming language.
 .
 This package provides an unstripped shared library with debugging symbols. The
 library is installed in /usr/lib/debug and will be automatically used by
 gdb while debugging programs using the GiNaC library. Most people will not
 need this package. For detailed information about GiNaC see
 <http://www.ginac.de/>.

