#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk
export DH_COMPAT

ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CXXFLAGS += -finline-limit=1200
endif

# 1.4.1-1-blah (Debian version) ==> 1.4 (LT_RELEASE)
GINAC_RELEASE := $(shell echo $(DEB_VERSION) | cut -f 1,2 -d . )
GINACLIB := libginac$(GINAC_RELEASE)

DEB_DH_MAKESHLIBS_ARGS := -V"$(GINACLIB) (>= $(GINAC_RELEASE).0)"
DEB_DH_SHLIBDEPS_ARGS := --libpackage=$(GINACLIB) -l debian/$(GINACLIB)/usr/lib
DEB_DH_STRIP_ARGS := --dbg-package=$(GINACLIB)
# menu entry for ginsh
DEB_INSTALL_MENU_ginac-tools := debian/ginac-tools.menu

