#!/usr/bin/make -f

package=ginac

version=$(shell expr `pwd` : '.*-\([0-9.]*\)')
version_major=$(shell expr `pwd` : '.*-\([0-9]*\).[0-9.]*')

build:
	dh_testdir
	./configure --prefix=/usr --with-cint
	$(MAKE) CXXFLAGS="-O2"
	touch build

clean:
	dh_testdir
	dh_clean
	-rm -f build
	-$(MAKE) distclean
	-rm -f `find . -name "*~"`
	-rm -rf debian/tmp `find debian/* -type d ! -name CVS` debian/files* core
	-rm -f debian/*substvars

binary-indep: build
	dh_testdir
	dh_testroot

binary-arch: build
	dh_testdir
	dh_testroot
	dh_installdirs
	# When is Automake going to honor FHS?
	$(MAKE) install prefix=`pwd`/debian/tmp/usr infodir=`pwd`/debian/tmp/usr/share/info mandir=`pwd`/debian/tmp/usr/share/man
	# Work around dumb lintian error: binary-without-manpage ginaccint.bin
	(cd `pwd`/debian/tmp/usr/share/man/man1; ln -s ginaccint.1.gz ginaccint.bin.1.gz)
	# Automake generated Makefile.in do install-info, which is bad for us:
	-rm -f `pwd`/debian/tmp/usr/share/info/dir*
	dh_installdocs ChangeLog NEWS README
	dh_installchangelogs
	dh_installmenu
	dh_movefiles
	dh_strip
	dh_compress
	dh_fixperms
	dh_shlibdeps
	dh_gencontrol
	dh_makeshlibs
	dh_installdeb
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean
