#!/usr/bin/make -f
# Made with the aid of debmake, by Christoph Lameter,
# based on the sample debian/rules file for GNU hello by Ian Jackson.

package=ginac

version=$(shell expr `pwd` : '.*-\([0-9.]*\)')
version_major=$(shell expr `pwd` : '.*-\([0-9]*\).[0-9.]*')

build:
	dh_testdir
	./configure --without-cint --prefix=/usr
	$(MAKE) CXXFLAGS="-O2"
	touch build

clean:
	dh_testdir
	dh_clean
	-rm -f build
	-$(MAKE) distclean
	-rm -f `find . -name "*~"`
	-rm -rf debian/tmp `find debian/* -type d ! -name CVS` debian/files* core
	-rm -f debian/*substvars

binary-indep: build
	dh_testdir
	dh_testroot

binary-arch: build
	dh_testdir
	dh_testroot
	dh_installdirs
	# When will Automake honor FHS?
	$(MAKE) install prefix=`pwd`/debian/tmp/usr infodir=`pwd`/debian/tmp/usr/share/info mandir=`pwd`/debian/tmp/usr/share/man
	dh_installdocs ChangeLog NEWS README
	dh_installchangelogs
	dh_installmenu -pginac-ginsh
#	dh_movefiles -pginac-dev
	dh_movefiles
	dh_strip
	dh_compress
	dh_fixperms
	dh_shlibdeps
	dh_gencontrol
	dh_makeshlibs
	dh_installdeb
	dh_md5sums
	dh_builddeb -pginac -pginac-dev

binary: binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean
